<h1> Editing Employee <%= @employee.name %> </h1>
 
<form method="post" action="/employees/<%= @employee.id %>/update_employee">
  <label for="name">Name</label><br>
  <input type="text" name="name" value="<%= @employee.name %>"><br>
  <label for="email">Email</label><br>
  <input type="text" name="email" value="<%= @employee.email %>"><br>
  <label for="employee_id">Employee ID</label><br>
  <input type="text" name="employee_id"  value="<%= @employee.employee_id %>"><br>

  <input type="submit" value="Submit" />
  
</form>