<h1>Employees</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Employee ID </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
      <td><%= employee.name %> </td>
      <td><%= employee.email %> </td>
      <td><%= employee.employee_id %>  </td>
      <td><a href="/employees/<%= employee.id %>/edit">Edit</a></td>
      </tr>
    <% end %> 
  </tbody>
</table>
 
<a href="/employees/new">Add</a>