<div class="container" style="margin-top: 50px;">
<h1>New employee form</h1>

<form method="post" action="/employees/create">
  <label for="name" class="form-label">Name</label><br>
  <input type="text" class="form-control" name="name"><br>
  <label for="email" class="form-label">Email</label><br>
  <input type="text" class="form-control" name="email"><br>
  <label for="employee_id" class="form-label">Employee ID</label><br>
  <input type="text" class="form-control" name="employee_id"><br>

  <input type="submit" class="btn btn-primary" value="Submit" />
  
</form>
</div>